<section class="block container">
  <div class="block__header">
    <h2 class="block__heading">Host On The Cloud to Keep Growing</h2>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos quibusdam
      ipsam, temporibus tempore omnis explicabo veniam in minima, optio mollitia
      illo enim possimus ducimus facere quidem eius alias voluptate corporis?
    </p>
  </div>
</section>
<section class="block block--dark block--skewed-right">
  <div class="block__header container">
    <h2 class="block__heading">Host On The Cloud to Keep Growing</h2>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos quibusdam
      ipsam, temporibus tempore omnis explicabo veniam in minima, optio mollitia
      illo enim possimus ducimus facere quidem eius alias voluptate corporis?
    </p>
  </div>
</section>
