<section class="block container">
  <div class="block__header">
    <h2 class="block__heading">Host On Cloud To Keep Growing</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum,
      exercitationem!
    </p>
  </div>
  <article class="grid grid-col-2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="/images/sprite.svg#easy"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Super Easy to Use</h3>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum
        quibusdam rerum quia amet reiciendis, fugiat laudantium sapiente fugit
        at accusantium voluptates, in mollitia maxime consequatur perferendis
        eveniet eos et. Minima?
      </p>
      <a class="link-arrow" href="https:/google.com">Learn More</a>
    </div>
    <img class="feature__image" src="images/easy.jpg" alt="Easy to use." />
  </article>
  <article class="grid grid-col-2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="/images/sprite.svg#computer"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Simply Fast Websites</h3>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum
        quibusdam rerum quia amet reiciendis, fugiat laudantium sapiente fugit
        at accusantium voluptates, in mollitia maxime consequatur perferendis
        eveniet eos et. Minima?
      </p>
      <a class="link-arrow" href="https:/google.com">Learn More</a>
    </div>
    <img class="feature__image" src="images/fast.jpg" alt="Easy to use." />
  </article>
  <article class="grid grid-col-2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="/images/sprite.svg#settings"></use>
        </svg>
      </span>
      <h3 class="feature__heading">24/7 Expert Support</h3>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum
        quibusdam rerum quia amet reiciendis, fugiat laudantium sapiente fugit
        at accusantium voluptates, in mollitia maxime consequatur perferendis
        eveniet eos et. Minima?
      </p>
      <a class="link-arrow" href="https:/google.com">Learn More</a>
    </div>
    <img class="feature__image" src="images/wordpress.jpg" alt="Easy to use." />
  </article>
  <article class="grid grid-col-2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="/images/sprite.svg#clock"></use>
        </svg>
      </span>
      <h3 class="feature__heading">WordPress Made Easy</h3>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum
        quibusdam rerum quia amet reiciendis, fugiat laudantium sapiente fugit
        at accusantium voluptates, in mollitia maxime consequatur perferendis
        eveniet eos et. Minima?
      </p>
      <a class="link-arrow" href="https:/google.com">Learn More</a>
    </div>
    <img class="feature__image" src="images/support.jpg" alt="Easy to use." />
  </article>
</section>
