<div class="card testimonial">
  <div class="grid grid-col-2">
    <div class="testimonial__image-container">
      <img
        class="testimonial__image"
        src="/images/testimonial.jpg"
        alt="A happy customer"
      />
      <span class="icon-container icon-container--accent">
        <svg class="icon icon--white">
          <use xlink:href="/images/sprite.svg#quotes"></use>
        </svg>
      </span>
    </div>
    <blockquote class="quote">
      <p class="text__quote">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio
        blanditiis modi velit ipsum, earum facilis perspiciatis nostrum?
        Eveniet, aliquid perferendis.
      </p>
      <footer>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="/images/sprite.svg#line"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__name">John Doe</h3>
            <p class="quote__desc">CEO of Apple</p>
          </div>
        </div>
      </footer>
    </blockquote>
  </div>
</div>
